/*
 * -------------------------------------------------
 *  GECKO MATRIX Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 *
 */


// Global default params, used in configs
params {

  reads = "data/*{1,2}*.fastq"
  extendReadsLen = 100
  notrim = false
  saveTrimmed = false
  outdir = './results'
  softPath = '/poolzfs/ritchie/gecko/LargeScaleCLLGenome/05-ML/dev/importGECKO/bin'
  filter = 1

}


timeline {
  enabled = true
  file = "${params.outdir}/pipeline_info/geckoMatrix_timeline.html"
}
report {
  enabled = true
  file = "${params.outdir}/pipeline_info/geckoMatrix_report.html"
}
trace {
  enabled = true
  file = "${params.outdir}/pipeline_info/geckoMatrix_trace.txt"
}
dag {
  enabled = true
  file = "${params.outdir}/pipeline_info/geckoMatrix_DAG.svg"
}


process{
    executor = 'slurm'

    memory = 8.GB

    $bam2fastq {
      cpus = 1
      memory = 4.GB
      maxForks = 3
    }
    //$bam2fastq.module = ['bioinfo/samtools-1.4','bioinfo/FastQC_v0.11.5','bioinfo/Jellyfish2.1.4']

    $fastqc {
      cpus = 1
      memory = 4.GB
    }
    //$fastqc.module = ['bioinfo/samtools-1.4','bioinfo/FastQC_v0.11.5','bioinfo/Jellyfish2.1.4']

    $trim_galore {
      cpus = 2
      memory = 16.GB
      maxForks = 3
    }
    //$trim_galore.module = ['bioinfo/samtools-1.4','bioinfo/FastQC_v0.11.5','bioinfo/Jellyfish2.1.4']

    $jellyfish {
      cpus = 8
      memory = 64.GB
    }
    //$jellyfish.module = ['bioinfo/samtools-1.4','bioinfo/FastQC_v0.11.5','bioinfo/Jellyfish2.1.4']

    $extract {
      cpus = 1
      memory = 4.GB
      maxForks = 3
    }
    //$extract.module = ['bioinfo/samtools-1.4','bioinfo/FastQC_v0.11.5','bioinfo/Jellyfish2.1.4']

    $rawsubextract {
        cpus = 1
        memory = 1.GB
    }

    $rawsubimport {
        cpus = 1
        memory = 64.GB
    }

    $join {
        cpus = 1
        memory = 128.GB
    }

    $discretDivide {
        cpus = 1
        memory = 1.GB
    }

    $discretApply {
        cpus = 8
        memory = 16.GB
    }

    $discretJoin {
        cpus = 1
        memory = 1.GB
    }

    $filterDivide {
        cpus = 1
        memory = 1.GB
    }

    $filterApply {
        cpus = 8
        memory = 16.GB
    }

    $toreal {
        cpus = 1
        memory = 128.GB
    }
    
    $toMLformat {
        cpus = 1
        memory = 256.GB
    }


}
